{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Cadastro Rotas{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Write Your Post</h4>
            </div>
            <form method="post" class="card-body" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Cidade de Origem</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.origin }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Cidade de Destino</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.destiny }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Shift</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.shift }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Horário de chegada</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.arrival_time }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Horário de saída</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.departure_time }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                  <button class="btn btn-primary btn-color-main">Create Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}