{% extends "global/pages/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Detalhe Rota{% endblock title %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-secondary mt-5 mb-4">Rota</h1>
            <div class="card shadow">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title text-secondary mb-4 text-capitalize">{{ schedules.origin }} - Turno {{ schedules.shift }}</h5>
                    {% if request.user.is_superuser %}
                      <div class="">
                        <a href="{% url 'schedules:schedules_update' schedules.id %}" class="text-primary">Editar</a>
                        <a href="{% url 'schedules:schedules_delete' schedules.id %}" class="text-danger">Apagar</a>
                      </div>
                    {% endif %}
                  </div>
                  <p class="card-text"><span class="card-title">Horario de Chegada: </span>{{ schedules.arrival_time }}</p>
                  <p class="card-text"><span class="card-title">Horario de Chegada: </span>{{ schedules.departure_time }}</p>
                </div>
              </div>
        </div>
    </div>
</section>
{% endblock content %}