{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Cadastro Contatos{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="card mt-5">
            <div class="card-header">
              <h4>Cadastro de Cidades</h4>
            </div>
            <form method="post" class="card-body" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Setor</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.sector }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Numero da sala</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.room }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Coordenador</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.coordinator }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Telefone</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.telephone }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
                <div class="col-sm-12 col-md-7">
                  {{ form.email }}
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                  <button class="btn btn-primary btn-color-main">Create Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}