{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Sobre Nós{% endblock title %}
{% block content %}
<section class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-6 mb-3 mb-0">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="" src="{% static 'core/img/clara.JPG' %}" alt="" style="width: 100px; height: 100px; border-radius: 100%;">
                    </div>
                    <div class="card-content">
                        <h5 class="card-title mb-1 mt-2 text-color-default">Maria Clara de Morais</h5>
                        <span class="card-subtitle">Estudante do Curso Técnico de Informática no IFRN-PF</span>
                        <p class="card-text mt-2">Natural de Pau dos ferros - RN, 18 anos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mb-3 mb-0">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="" src="{% static 'core/img/thiago.JPG' %}" alt="" style="width: 100px; height: 100px; border-radius: 100%;">
                    </div>
                    <div class="card-content">
                        <h5 class="card-title mb-1 mt-2 text-color-default">Thiago Morais Silva</h5>
                        <span class="card-subtitle">Estudante do Curso Técnico de Informática no IFRN-PF</span>
                        <p class="card-text mt-2">Natural de São Paulo - SP, 19 anos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}