{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'core/partials/head.html' %}
<body>
    <div class="body-content">

        {% include 'core/partials/navbar.html' %}
    
        <main class="container-fluid">
            {% block content %}
            {% endblock %}

            <section class="contact row w-100 justify-content-center p-3 p-lg-5">
                <h2 class="text-center text-color-main fw-800 mb-4">Fale conosco</h2>
                {% include 'core/partials/form_email.html' %}
            </section>

        </main>
        {% include 'core/partials/footer.html' %}

    </div>

    {% bootstrap_javascript %}
</body>
</html>