{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&family=Mulish:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% bootstrap_css %}
    <title>Document</title>
</head>
<body>
    <div class="body-content">
        {% include 'core/partials/navbar.html' %}
    
        <main class="">

        </main>
        <footer class=""></footer>
    </div>

    {% bootstrap_javascript %}
</body>
</html>