{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&family=Mulish:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% bootstrap_css %}
    <title>Document</title>
</head>
<body>
    <div class="body-content">
        <header class="" style="background: #00B071; height: 85px;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="d-flex justify-content-around">
                        <a class="navbar-brand" href="">
                            <img src="{% static 'core/img/IFO-LOGO.svg' %}" alt="">
                        </a>
                        <div class="d-flex justify-content-around">
                            <button class="navbar-toggler" style="margin-right: auto;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon" style="color: white;"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="margin-right: auto;">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled text-white">Disabled</a>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-success text-white">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    
        <main class="">

        </main>
        <footer class=""></footer>
    </div>

    {% bootstrap_javascript %}
</body>
</html>