{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Home{% endblock title %}
{% block content %}
<section class="container-fluid bg-white">
    <div class="row justify-content-around m-0 pt-5">
        <h1 class="h2 text-color fw-700 ps-5 my-4" style="color: #6C757D;">Home</h1>
        <div class="col-8 col-sm-3 col-md-3 col-lg-2 bg-danger col-card mb-5 rounded-5 d-flex align-items-end justify-content-start p-3 shadow">
            <a href="{% url 'schedules:schedules_list' %}" class="text-decoration-none" >
                <h3 class="text-white fw-700 fs-3">Horarios</h3>
            </a>
        </div>
        <div class="col-8 col-sm-3 col-md-3 col-lg-2 bg-primary col-card mb-5 rounded-5 d-flex align-items-end justify-content-start p-3 shadow">
            <a href="{% url 'tips:tips_list' %}" class="text-decoration-none">
                <h3 class="text-white fw-700 fs-3">Dicas</h3>
            </a>
        </div>
        <div class="col-8 col-sm-3 col-md-3 col-lg-2 bg-success col-card mb-5 rounded-5 d-flex align-items-end justify-content-start p-3 shadow">
            <a href="{% url 'contact:contact_list' %}" class="text-decoration-none">
                <h3 class="text-white fw-700 fs-3">Contatos</h3>
            </a>
        </div>
    </div>

    <div class="row justify-content-around m-0 p-0">
        <h2 class="fs-4 h2 text-color-default fw-700 ps-5 my-4" style="color: #6C757D;">Eventos</h2>
        <div class="col-11 col-sm-10 col-md-8 bg-color-default h-100 mb-5 mb-lg-0">
            {% for i in event %}
                <div class="my-card card-round border d-flex card-shadow mb-4 shadow-sm">
                    {% for image_url in image_urls %}
                        {% if image_url in i.content %}
                            <img src="{{ image_url }}" width="200" height="116" alt="Imagem">
                        {% endif %}
                    {% endfor %}

                    <div class="ms-3 p-3" style="flex: 1;">
                        <div class="d-flex align-items-start justify-content-between">
                            <span>{{ i.category }}</span>
                            {% if request.user.is_superuser %}
                                <div class="d-flex">
                                    <a href="{% url 'event:event_update' i.id %}" class="text-primary">Editar</a>
                                    <a href="{% url 'event:event_delete' i.id %}" class="text-danger ms-2">Deletar</a>
                                </div>
                            {% endif %}
                        </div>
                        <h4>
                            <a href="{% url 'event:event_detail' i.id %}"  class="text-decoration-none text-secondary">{{ i.title }}</a>
                        </h4>
                        <p class="mb-0">{{ i.description }}</p>
                    </div> 
                </div>
            {% endfor %}
        </div>

        <div class="col-11 col-sm-10 col-md-3">
            <div class="bg-primary border mb-3 mt-4 mt-lg-5 card-round text-white d-flex justify-content-center align-items-center" style="height: 80px;">
                <a href="{% url 'city:city_list' %}" class="text-white nav-link">
                    <h3 class="fw-700 fs-3 m-0" style="font-size: 1.5rem;">Cidades</h3>
                </a>
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" class="bi bi-plus fw-bold" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg> {% endcomment %}
            </div>

            {% if request.user.is_authenticated %}
                <div class="bg-success border mb-3 card-round text-white d-flex justify-content-center align-items-center" style="height: 80px;">
                    <a href="{% url 'event:event_insert' %}" class="text-white nav-link">
                        <h3 class="fw-700 fs-3 m-0" style="font-size: 1.5rem;">Eventos</h3>
                    </a>
                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" class="bi bi-plus fw-bold" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg> {% endcomment %}
                </div>
            {% enfif %}

            <div class="bg-danger border mb-5 card-round text-white d-flex justify-content-around align-items-center" style="height: 80px;">
                <a href="{% url 'core:simulator' %}" class="text-white nav-link">
                    <h3 class="fw-700 fs-3 m-0" style="font-size: 1.5rem;">Simular nota</h3>
                </a>
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg> {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endblock %}