{% extends 'core/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<section class="container-fluid">
    <div class="row justify-content-around m-0 p-0">
        <h1 class="h2 text-color fw-800" style="color: #6C757D;">Home</h1>
        <div class="col-8 col-md-2 bg-danger col-card mb-5 rounded-5 d-flex align-items-end justify-content-start p-3">
            <h3 class="text-white fw-700 fs-3">Horarios</h3>
        </div>
        <div class="col-8 col-md-2 bg-primary col-card mb-5 rounded-5 d-flex align-items-end justify-content-start p-3">
            <h3 class="text-white fw-700 fs-3">Dicas</h3>
        </div>
        <div class="col-8 col-md-2 bg-success col-card mb-5 rounded-5 d-flex align-items-end justify-content-start p-3">
            <h3 class="text-white fw-700 fs-3">Contatos</h3>
        </div>
    </div>

    <div class="row justify-content-around m-0 p-0">
        <h2 class="fs-4 text-color-default fw-700" style="color: #6C757D;">Noticias</h2>
        <div class="col-10 col-md-7 bg-color-default">
            <div class="my-card p-2">
                <div class="d-flex align-items-start">
                    <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="rounded-4 img-card-round" style="width: 9.90rem; height: 6.75rem;" alt="">
                    <div class="ms-4" style="flex: 1;">
                        <span>lorem</span>
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate alias mollitia neque, sapiente, natus facere atque ratione veniam tenetur, quia harum necessitatibus suscipit rem dolor repellendus! Nemo, natus voluptatibus?</p>
                    </div>
                </div>
            </div>
            <div class="my-card p-2">
                <div class="d-flex align-items-start">
                    <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="rounded-4 img-card-round" style="width: 9.90rem; height: 6.75rem;" alt="">
                    <div class="ms-4" style="flex: 1;">
                        <span>lorem</span>
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate alias mollitia neque, sapiente, natus facere atque ratione veniam tenetur, quia harum necessitatibus suscipit rem dolor repellendus! Nemo, natus voluptatibus?</p>
                    </div>
                </div>
            </div>
            <div class="my-card p-2">
                <div class="d-flex align-items-start">
                    <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="rounded-4 img-card-round" style="width: 9.90rem; height: 6.75rem;" alt="">
                    <div class="ms-4" style="flex: 1;">
                        <span>lorem</span>
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate alias mollitia neque, sapiente, natus facere atque ratione veniam tenetur, quia harum necessitatibus suscipit rem dolor repellendus! Nemo, natus voluptatibus?</p>
                    </div>
                </div>
            </div>
            <div class="my-card p-2">
                <div class="">
                    <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="rounded-4 img-card-round" style="width: 9.90rem; height: 6.75rem;" alt="">
                    <div class="ms-4" style="flex: 1;">
                        <span>lorem</span>
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate alias mollitia neque, sapiente, natus facere atque ratione veniam tenetur, quia harum necessitatibus suscipit rem dolor repellendus! Nemo, natus voluptatibus?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-3 bg-primary">
            resto
        </div>
    </div>
</section>
{% endblock %}