{% extends 'core/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<section class="row m-0 py-5 align-items-center justify-content-center bg-color-main" style="height: 500px;">
    <div class="col-10 col-sm-8 col-md-5 p-0 align-items-center">
        <div class="">
            <h1 class="text-white h1 fw-700">IFÓRUM ACADÊMICO</h1>
            <h2 class="text-white h2 fw-400">SISTEMA WEB DE APOIO ESTUDANTIL PARA COMUNIDADE ACADÊMICA DO IFRN</h2>
        </div>
    </div>
    <div class="col-10 col-sm-8 col-md-5 p-0 h-100 d-none d-md-block" >
        <img class="w-100 h-100" src="{% static 'core/img/college students-rafiki 1.svg' %}" alt="">
    </div>
</section>

<section class="row m-0 py-5 align-items-center justify-content-center objective">
    <div class="col-10 col-lg-8 p-3">
        <h2 class="text-color-main fw-600 text-center mb-4">Objetivos</h2>
        <p class="fw-300 text-default" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <h2 class="h2 text-center fw-700 text-color-main py-3">Funcionalidades</h2>
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Boletim de noticias</h3>
            <p class="text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Newsletter-rafiki 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row ">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Calculo de I.R.A.</h3>
            <p class="text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Calculator-pana 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Info sobre transporte</h3>
            <p class="text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Bus Stop-amico 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Contato de setores</h3>
            <p class="text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Get in touch-rafiki 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Dicas sobre o IF</h3>
            <p class="text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Ambassador-pana 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="contact row w-100 justify-content-center p-3 p-lg-5">
    <h2 class="text-center text-color-main fw-800 mb-4">Fale conosco</h2>
    {% include 'core/partials/form_email.html' %}
</section>

{% endblock %}