{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Apresentação{% endblock title %}
{% block content %}
<section class="row m-0 py-5 align-items-center justify-content-center bg-color-main" style="height: 500px;">
    <div class="col-10 col-sm-8 col-md-5 p-0 align-items-center">
        <div class="">
            <h1 class="text-white h1 fw-700">IFÓRUM ACADÊMICO</h1>
            <h2 class="text-white h2 fw-400">SISTEMA WEB DE APOIO ESTUDANTIL PARA COMUNIDADE ACADÊMICA DO IFRN</h2>
        </div>
    </div>
    <div class="col-10 col-sm-8 col-md-5 p-0 h-100 d-none d-md-block" >
        <img class="w-100 h-100" src="{% static 'core/img/college students-rafiki 1.svg' %}" alt="">
    </div>
</section>

<section class="row m-0 py-5 align-items-center justify-content-center objective">
    <div class="col-10 col-lg-8 p-3">
        <h2 class="text-color-main fw-600 text-center mb-4">Objetivos</h2>
        <p class="fw-300 text-default" style="text-align: justify;">Fornecer informações sobre o Instituto que possam auxiliar o corpo estudantil e promover um melhor ingresso do estudante na instituição.</p>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <h2 class="h2 text-center fw-700 text-color-main py-3">Funcionalidades</h2>
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Boletim de noticias</h3>
            <p class="text-default">Apresentação de notícias sobre o IFRN campus Pau dos Ferros</p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Newsletter-rafiki 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row ">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Cálculo de notas</h3>
            <p class="text-default">Simulador de notas semestrais e anuais</p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Calculator-pana 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Transportes</h3>
            <p class="text-default">Cidades que disponibilizam rotas de ônibus até ao campus, juntamente com seus horários.</p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Bus Stop-amico 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Contato de setores</h3>
            <p class="text-default">Informações dos setores do campus.</p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Get in touch-rafiki 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="row m-0 py-3 pt-5 align-items-center justify-content-center">
    <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
        <div class=" m-5 m-lg-0">
            <h3 class="text-color-main h2 fw-500">Dicas sobre o IF</h3>
            <p class="text-default">Dicas diversas que podem auxiliar o aluno no campus.</p>
        </div>
        <div class="">
            <img src="{% static 'core/img/Ambassador-pana 1.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="contact row w-100 justify-content-center p-3 p-lg-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h2 class="text-center text-color-main fw-800 mb-4">Fale conosco</h2>
    {% include 'global/partials/form_email.html' %}
</section>

{% endblock %}