{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">  
{% include 'core/partials/head.html' %}
<link rel="stylesheet" href="{% static 'student/css/style.css' %}">
<body>
  
<main style="height: 100vh; display: flex; align-items: center; justify-content: center;">
  <form style="height: auto;" class="form-login">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="form-outline mb-4 d-flex justify-content-center flex-column">
        <img src="{% static 'core/img/IFO-LOGO-LOGIN.svg' %}" class="m-auto py-2" alt="">
        <h1 class="h3 text-color-main fw-700 text-center">IFÓRUM<br>ACADEMICO </h1>
      </div> 

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="form3Example1">First name</label>
          <input type="text" id="form3Example1" class="form-control" />
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="form3Example2">Last name</label>
          <input type="text" id="form3Example2" class="form-control" />
        </div>
      </div>
    </div>

    <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3">Username</label>
      <input type="text" id="form3Example3" class="form-control" />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3">Email address</label>
      <input type="email" id="form3Example3" class="form-control" />
    </div>


    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="form3Example1">Password</label>
          <input type="password" id="form3Example1" class="form-control" />
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="form3Example2">Confirmation</label>
          <input type="password" id="form3Example2" class="form-control" />
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-color-main btn-block text-white fw-600 mb-4">
      Sign up
    </button>

  </form>
</main>

</body>
</html>