{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
{% include 'core/partials/head.html' %}
<body>
    <main class="container-fluid d-flex align-items-center justify-content-center">
        <div class="justify-content-center align-items-center row w-50">
            <form action="" method="post" class="p-0 col-12 w-100">
                <div class="p-0 mb-3">
                    <h1 class="h1 text-main-color"></h1>
                    <img src="{% static 'core/img/IFO-LOGO.svg' %}" class="m-auto py-2" style="width: 5rem;" alt="">
                </div>
                <div class="p-0 mb-3">
                    <label for=""></label>
                    <input class="form-control" type="text">
                </div>
                <div class="p-0 mb-3">
                    <label for=""></label>
                    <input class="form-control" type="password">
                </div>
                <div class="p-0 mb-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-color-main text-white fw-700">Entrar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>