{% extends "global/pages/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-secondary mt-5 mb-4">Cidades Horarios</h1>
            <div class="card shadow">
                <!-- <h5 class="card-header">Featured</h5> -->
                <div class="card-body">
                  <h5 class="card-title text-secondary mb-4">Manha / Tarde / Noite</h5>
                  <p class="card-text"><span class="card-title">With spporting:</span> below as a natural lead-in to additional content.</p>
                  <p class="card-text"><span class="card-title">With spporting</span> below as a natural lead-in to additional content</p>
                  <pclass="card-text">With spporting <span class="card-title"> below as a natural lead-in to adding</span></p>
                </div>
              </div>
        </div>
    </div>
</section>
{% endblock content %}