{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">  
{% include 'global/partials/head.html' %}
<head>
<title>IFORUM: Login</title>
{% include "global/partials/head.html" %}
</head>
<link rel="stylesheet" href="{% static 'user/css/style.css' %}">
<body>
    <main style="height: 100vh; display: flex; align-items: center; justify-content: center;" class="" >
        <form method="POST" style="height: auto;" class="form-login">
            {% csrf_token %}

            <div class="form-outline mb-4 d-flex justify-content-center">
                <a href="{% url 'core:index' %}">
                    <img src="{% static 'global/img/IFO-LOGO-LOGIN.svg' %}" class="m-auto py-2" alt="">
                    <h1 class="h3 text-color-main fw-700 text-center">IFÓRUM<br>ACADEMICO </h1>
                </a>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Username</label>
                {{ form.username }}
                {% comment %} <input type="email" id="form2Example1" class="form-control" /> {% endcomment %}
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                {{ form.password }}
            </div>
        
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
        
            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-color-main btn-block text-white fw-600 mb-4">Logar</button>
        
            <!-- Register buttons -->
            <div class="text-center">
            <p>Não é um usuario? <a href="{% url 'user:register' %}" class="text-decoration-none text-secondary"> Registre-se</a></p>

            </div>
        </form>
    </main>
</body>
</html>