{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}IFORUM: Detalhe de Evento{% endblock title %}
{% block content %}
<section class="container pt-5">
    <div class="row">
        <div class="d-flex justify-content-between mt-4 ">
            <h4 class="text-default fw-700">{{ event.category }}</h4>

            <ul class="d-flex flex-wrap flex-lg-nowrap list-unstyled gap-3">
                <a href="#" class="btn btn-social-icon btn-facebook mr-1 link-facebook">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="btn btn-social-icon btn-twitter mr-1 link-twitter">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-social-icon btn-github mr-1 link-github">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="#" class="btn btn-social-icon btn-instagram link-instagram">
                    <i class="fab fa-instagram"></i>
                  </a>
            </ul>
        </div>
        <div class="col">
            {{ event.content | safe }}
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-between">
        <h3 class="d-block fw-700 my-4 text-default">Relacionados:</h3>

        <div class="col-11 col-8 col-md-4 ">
            <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded-5 m-auto" style="width: 100%; height: auto; " alt="">
            <div class="card-body p-3 border shadow bg-white">
                <p class="text-content-gray m-0 mb-2 fw-600" style="color:#6C757D;">Por: thiago</p>
                <h4 class="card-title fw-700 mb-3" style="color: #6C757D;">Lorem ipsum</h4>
                <h6 class="card-subtitle fw-600 text-muted">Lorem ipsum</h6>
                <p class="card-text mt-1 text-content-grey" style="color:#999;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit blanditiis dolores modi, mollitia explicabo placeat exercitationem praesentium ut!</p>
            </div>
        </div>

        <div class="col-11 col-8 col-md-4 ">
            <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded-5 m-auto" style="width: 100%; height: auto;" alt="">
            
            <div class="card-body p-3 border shadow bg-white">
                <p class="text-content-gray m-0 mb-2 fw-600" style="color:#6C757D;">Por: thiago</p>
                <h4 class="card-title fw-700 mb-3" style="color: #6C757D;">Lorem ipsum</h4>
                <h6 class="card-subtitle fw-600 text-muted">Lorem ipsum</h6>
                <p class="card-text mt-1 text-content-grey" style="color:#999;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit blanditiis dolores modi, mollitia explicabo placeat exercitationem praesentium ut!</p>
            </div>
        </div>

        <div class="col-11 col-8 col-md-4 ">
            <img src="https://images.pexels.com/photos/3856050/pexels-photo-3856050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded-5 m-auto" style="width: 100%; height: auto;" alt="">
            
            <div class="card-body p-3 border shadow bg-white">
                <p class="text-content-gray m-0 mb-2 fw-600" style="color:#6C757D;">Por: thiago</p>
                <h4 class="card-title fw-700 mb-3" style="color: #6C757D;">Lorem ipsum</h4>
                <h6 class="card-subtitle fw-600 text-muted">Lorem ipsum</h6>
                <p class="card-text mt-1 text-content-grey" style="color:#999;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit blanditiis dolores modi, mollitia explicabo placeat exercitationem praesentium ut!</p>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'event/js/scripts.js' %}"></script>
{% endblock %}