{% extends 'global/pages/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<section class="container pt-5">
    <h1 class="text-main-default">Dicas</h1>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-4 mb-4">
          <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                <a href="{% url 'tip:tips_detail' %}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title mb-1">
                  <a href="{% url 'tip:tips_detail' %}" class="text-decoration-none">Title</a></h5>
                <spna class="card-subtitle">Lorem ipsum</spna>
                <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
      </div>
      <div class="col-10 col-lg-4 mb-4">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
              <a href="{% url 'tip:tips_detail' %}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title mb-1">
                <a href="{% url 'tip:tips_detail' %}" class="text-decoration-none" >Title</a>
              </h5>
              <spna class="card-subtitle">Lorem ipsum</spna>
              <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
        </div>
    </div>
    <div class="col-10 col-lg-4 mb-4">
      <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
            <a href="{% url 'tip:tips_detail' %}">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-1">
              <a href="{% url 'tip:tips_detail' %}" class="text-decoration-none" >Title</a>
            </h5>
            <spna class="card-subtitle">Lorem ipsum</spna>
            <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <div class="col-10 col-lg-4 mb-4">
      <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
            <a href="{% url 'tip:tips_detail' %}">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-1">
              <a href="{% url 'tip:tips_detail' %}" class="text-decoration-none" >Title</a>
            </h5>
            <spna class="card-subtitle">Lorem ipsum</spna>
            <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
  </div>
  <div class="col-10 col-lg-4 mb-4">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="{% url 'tip:tips_detail' %}">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-1">
            <a href="{% url 'tip:tips_detail' %}" class="text-decoration-none" >Title</a>
          </h5>
          <spna class="card-subtitle">Lorem ipsum</spna>
          <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
  </div>
    </div>
</section>
{% endblock %}